{% extends 'base.html' %}
{% block content %}

<h2>➕ Add Course</h2>

<form method="post" class="mt-4">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Course Title</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        {{ form.description }}
    </div>

    <div class="form-check mb-3">
        {{ form.is_active }}
        <label class="form-check-label">Active</label>
    </div>

    <button class="btn btn-primary">Create</button>
    <a href="{% url 'courses' %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
