{% extends 'base.html' %}
{% block content %}

<h2>{{ lesson.title }}</h2>

<div class="card mt-3">
    <div class="card-body">

        {% if lesson.content_type == 'PDF' %}
            {% if lesson.pdf_file %}
                <iframe src="{{ lesson.pdf_file.url }}"
                        width="100%" height="500"
                        style="border:none;"></iframe>
            {% endif %}
        {% elif lesson.content_type == 'VIDEO' %}
            {% if lesson.video_file %}
                <video width="100%" controls>
                    <source src="{{ lesson.video_file.url }}">
                </video>
            {% endif %}
        {% endif %}

    </div>
</div>

<hr>

{% if not progress.completed %}
<form method="post" action="{% url 'complete_lesson' lesson.id %}">
    {% csrf_token %}
    <button class="btn btn-success">
        ✅ Mark Lesson as Completed
    </button>
</form>
{% else %}
<div class="alert alert-success mt-3">
    🎉 Lesson completed
</div>
{% endif %}

<a href="{% url 'course_detail' lesson.course.id %}"
   class="btn btn-secondary mt-3">
    ⬅ Back to Course
</a>

{% endblock %}
